<body>
    <button onclick="window.location.reload()">Run Program</button>
    <div id="terminal"></div>
    <h1>Welcome to the Survey Sentiment Analyser!</h1>
    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
    <br>
    <h2 id = "wordcloud-zone">WordCloud Zone</h2>
    <p>Download your WordCloud here using <b>Right Click > Save Image As...</b></p>
    <div id = "wordcloud"><img src="/assets/wordcloud.png"></div>
</body>